@media (max-width:700px) {
  .lesson-left {
    width:100%;
    margin-bottom:0px;
    padding: 20px 0px 0px 0px;
  }
  

  .lesson-right{
    width:100%;
  }
  .lesson-right img{
    width:300px;
    height:300px;
  }
  .lesson-wrapper{
    padding:0px;
  }
  .lesson-left p{
    padding:0px 20px 0px 20px;
    font-size:15px;
    line-height: 30px;
  }
  .top-wrapper{
    width:100%;
    height:400px;
    margin:0 auto;
  }
  .container h1{
    padding:200px 0px;
    font-size:20px;
}

.question-first{
  width:100%;
  height:300px;
  margin:0 auto;
}
.question-second{ 
  width:100%;
  height:300px;
  margin:0 auto;
}

.explain-upper h3{
  font-size: 30px;
}
.explain-upper {
  max-height:400px;
  padding:0px;
}

.question1{
  padding:100px 00px;
}
.question2{
  padding:100px 0px;
}

.explain {
  max-height:400px;
}

.explain-upper{
  padding:10px 0px 0px 0px;
}
.explain-text{
padding:0px 0px 30px 0px;
}

.explain-text p{
font-size:13px;
line-height: 25px;
}

.kimete{
  height:140px;
  padding-top: 30px;
  font-size:20px;
}

.kimete-wrapper {
  height: 580px;
}
.kimete-left{
width:100%;
padding:0px 10px;
}
.kimete-left h2{
  font-size: 20px;
}
.kimete-left p{
  font-size: 15px;
  line-height: 30px;
}
.kimete-right{
  width:100%;
}


.kimete2-wrapper {
  height: 520px;
}
.kimete2-right{
width:100%;
padding:0px 10px;
}
.kimete2-right h2{
  font-size:20px;
}
.kimete2-right p{
  font-size: 15px;
  line-height: 30px;
}
.kimete2-left{
  width:100%;
}

.kimete3-wrapper {
  height: 500px;
}
.kimete3-left{
width:100%;
padding:0px 10px;
}
.kimete3-left h2{
  font-size: 20px;
}
.kimete3-left p{
  font-size: 15px;
  line-height: 30px;
  padding-bottom:10px;
}
.kimete3-right{
  width:100%;
}


.matome-wrapper {
  height: 1200px;
  padding-top:10px;
  background-color:#f5f5f5;
  text-align: center;
}
.matome-right{
width:100%;
}
.matome-left{
width:100%;
}
.matome-right h2{
  font-size: 25px;
  padding-left: 40px;
  padding-top:20px;
}
.matome-right p{
  font-size: 15px;
  line-height: 10px;
  font-weight: bold;
  padding:20px 0px 0px 40px;
}
.matome-left h2{
  font-size: 25px;
  padding-left:40px;
  padding-top:40px;
}
.matome-left p{
  font-size: 15px;
  line-height:10px;
  padding:20px 0px 0px 40px;
  font-weight: bold;
}
.matome-wrapper ul{
  font-size: 14px;
}

.vision{
height:300px;
}

.vision-text p{
  font-size: 20px;
}

.last-text h2{
  font-size: 17px;
}
.last-text h3{
  font-size: 15px;
}



}
