.top-wrapper{
  width:100%;
  height:800px;
  margin:0 auto;
  padding-right:0px;
  padding-left:0px;

  background-image:url(IMG_5729.JPG);
  background-size:cover;
  text-align: center;

}

.container h1{
  padding:400px 100px;
opacity: 0.8;
  color:white;
  font-size: 30px;
}


.lesson-wrapper {
  height: 400px;
  padding:50px 60px 200px 60px;

  background-color:#f7f7f7;
  text-align: center;
}

.lesson-left{
float:left;
width:50%;
text-align: center;
padding-top:100px;
}

.lesson-left h2{
  font-size: 40px;
}

.lesson-left p{
  width:70%;
  font-size: 30px
  color: #5f5d60;
  line-height: 40px;
  padding:40px 100px 0px 100px;
}

.lesson-right{
  float:right;
  width:50%;

}

.lesson-right img{
  border:30px solid #f5f5f5;
  border-radius: 3000px;

}


.question-first{
  width:100%;
  height:600px;
  margin:0 auto;
  padding-right:0px;
  padding-left:0px;

  background-image:url(beach.JPG);
  background-size:cover;

}

  .question-second{
    width:100%;
    height:600px;
    margin:0 auto;
    padding-right:0px;
    padding-left:0px;

    background-image:url(gurandoyukyo.JPG);
    background-size:cover;
}

  .question1{
    padding:300px 100px;
  }

  .question1 p{
    margin:0px;
    line-height: 0px;
    font-weight: normal;
    opacity: 0.8;
    color:black;
    font-size: 15px;
  }

  .question2{
    float:right;
    padding:300px 100px;
  }

  .question2 p{
    margin:0px;
    line-height: 0px;
    font-weight: normal;
    opacity: 0.8;
    color:white;
    font-size: 15px;
  }

.explain {
  height:600px;
  text-align: center;
}

.explain-upper{
  padding:100px 0px 0px 0px;
  width: 100%;
}

.explain-upper h3{
  font-size: 50px;
}

.explain-text{
padding:0px 20% 50px 20%;
}

.explain-text p{
  font-size: 30px
  color: #5f5d60;
  line-height: 40px;
}

.kimete{
  height:200px;
  padding-top: 50px;
  background-color:#f5f5f5;
  font-size: 40px;
  text-align: center;
}



.kimete-wrapper {
  height: 300px;
  padding:30px 30px 100px 30px;

  background-color:white;
  text-align: center;
}

.kimete-left{
float:left;
width:50%;
text-align: center;
padding-top:0px;
}

.kimete-left h2{
  font-size: 40px;
}

.kimete-left p{
  width:70%;
  font-size: 30px
  color: #5f5d60;
  line-height: 40px;
  padding:20px 100px 0px 100px;
}

.kimete-right{
  float:right;
  width:50%;

}

.kimete-right img{
  border:10px solid #f5f5f5;
  border-radius: 3000px;
}



.kimete2-wrapper {
  height: 300px;
  padding:30px 30px 100px 30px;
  background-color:#f5f5f5;
  text-align: center;
}

.kimete2-right{
float:right;
width:50%;
text-align: center;
padding-top:0px;
}

.kimete2-right h2{
  font-size: 40px;
}

.kimete2-right p{
  width:70%;
  font-size: 30px
  color: #5f5d60;
  line-height: 40px;
  padding:20px 100px 0px 100px;
}

.kimete2-left{
  float:left;
  width:50%;
}

.kimete2-left img{
  border:10px solid white;
  border-radius: 3000px;
}




.kimete3-wrapper {
  height: 300px;
  padding:30px 30px 100px 30px;

  background-color:white;
  text-align: center;
}

.kimete3-left{
float:left;
width:50%;
text-align: center;
padding-top:0px;
}

.kimete3-left h2{
  font-size: 40px;
}

.kimete3-left p{
  width:70%;
  font-size: 30px
  color: #5f5d60;
  line-height: 40px;
  padding:20px 100px 0px 100px;
}

.kimete3-right{
  float:right;
  width:50%;
}

.kimete3-right img{
  border:10px solid #f5f5f5;
  border-radius: 3000px;
}



.matome-wrapper {
  height: 500px;
  padding:100px 30px 100px 30px;
  background-color:#f5f5f5;
  text-align: center;
}

.matome-right{
float:right;
width:50%;
text-align: center;
padding-top:0px;
}

.matome-right h2{
  font-size: 40px;
}

.matome-right p{
  width:70%;
  font-size: 30px
  color: #5f5d60;
  line-height: 40px;
  padding:20px 100px 0px 100px;
}

.matome-left{
  float:left;
  width:50%;
  text-align: center;
  padding-top:0px;
}

.matome-right h3{
  font-size: 40px;
  color:red;
}

.matome-left h2{
  font-size: 40px;
}

.matome-left p{
  width:70%;
  font-size: 30px
  color: #5f5d60;
  line-height: 40px;
  padding:20px 100px 0px 100px;
}

.matome-left h3{
  font-size: 40px;
  color:red;
}



.vision{
  width:100%;
  height:400px;
  margin:0 auto;
  padding-top:90px;
  padding-right:0px;
  padding-left:0px;
  background-image:url(66f369a13394f65933918cd2b63c98a6_m.jpg);
  background-size:cover;
  text-align: center;
}

.vision-text p{
  padding:0px 100px;
  color:#dcdcdc;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: ;
}


.last-text h2 {
  font-weight: normal;
}
.last-text h3 {
  font-weight: normal;
}

.last-wrapper {
  padding-bottom: 80px;
  padding-top:50px;
  text-align: center;
  background-color: #f5f5f5;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  height:80px;
  padding-top:0px;
  background-color: #696969;
}

footer p{
  float:right;
  padding:15px 30px;
  color:white;
}
